footer {
  background-color: var(--primary-color);
  text-align: center;
  padding: 30px 20px;
  margin-top: 1px;
}
footer p {
  color: var(--secondary-text-color);
}
footer a {
  text-transform: lowercase;
  color: var(--secondary-text-color);
}
footer a:hover {
  color: var(--secondary-color);
}
