.menu-img {
  width: 100%;
  height: auto;
  display: block;
}
.img-grid-2 {
  flex: 1 1 500px;
  width: 100%;
  border-radius: 10px;
}
.menu-text-wrapper {
  flex: 1 1 400px;
  padding: 40px;
  text-align: center;
}
.menu-section-top-container,
.menu-section-bottom-container {
  background: var(--primary-color);
  padding: 60px 20px;

  div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.menu-section-middle-container {
  padding: 80px 20px;

  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 10px;
    overflow: hidden;
  }
  h3 {
    color: var(--secondary-text-color);
  }
  p {
    color: var(--secondary-text-color);
    margin: 15px 0;
  }
}
